body {
  margin: 0;
  font-family: "Merriweather","Georgia",serif;
  color: $k80-text;
  background-image: linear-gradient(to bottom right, $k80-red, $k80-dark-red);
  min-height: 100vh;
}

ul {
  padding: 0;
}

h1, h2, h3, h4 {
    font-family: $heading-stack;
    line-height: 1.15;
    margin: 0;
}

h1 {
    font-size: $modular-scale-3;
}

h2 {
    font-size: $modular-scale-2;
}

h3 {
    font-size: $modular-scale-1;
}

body, p {
    font-family: $body-stack;
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
}

a {
  text-decoration: none;
  color: $k80-red;

  p, h1, h2, h3, li {
    color: $k80-text;
  }

  &:hover {
    font-weight: bold;
    border-bottom: $k80-red solid 2px;
  }

  &:active {
    font-weight: bold;
    border-bottom: $k80-red solid 2px;
  }
}
