body {
  margin: 0;
  font-family: "Merriweather","Georgia",serif;
  color: $k80-text;
}

ul {
  padding: 0;
}

h1, h2, h3 {
    font-family: $heading-stack;
    line-height: 1.15;
    margin: 0;
}

h1 {
    font-size: $modular-scale-3;
}

h2 {
    font-size: $modular-scale-2;
}

h3 {
    font-size: $modular-scale-1;
}

body, p {
    font-family: $body-stack;
    font-size: $base-font-size;
    line-height: 1.25;
    margin: 0;
}

a {
  text-decoration: none;
  color: $k80-teal;

  p, h1, h2, h3, li {
    color: $k80-text;
  }

  &:hover {
    color: $k80-red;
    border-bottom: $k80-teal solid 2px;
  }

  &:active {
    border-bottom: $k80-teal solid 2px;
  }
}
