body {
  margin: 0;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: $k80-text;

  &:hover {
    color: $k80-red;
    border-bottom: $k80-red solid 2px;
  }

  &:active {
    border-bottom: $k80-red solid 2px;
  }
}