/*
*
* COLORS
* 
*/

$k80-teal: #009B91;
$k80-red: #D30000;
$k80-taupe: #D7D0C3;
$k80-cream: #F2EEE7;
$k80-text: #333333;
$k80-dark-red: #AE3522;
$k80-dark-blue: #003545;

/*
*
* BREAKPOINTS
* 
*/
$tablet-portrait: "(min-width: 600px)";
$tablet-landscape: "(min-width: 900px)";
$desktop-width: "(min-width: 1200px)";

/*
*
* FONTS
* 
*/

$heading-stack: 'Cormorant Garamond', sans-serif;
$body-stack: "Merriweather","Georgia",serif;

$base-font-size: 14px;
$modular-scale-1: 1.792em;
$modular-scale-2: 2.5em;
$modular-scale-3: 4.48em;
$modular-scale-4: 6.25em;
$modular-scale-5: 11.2em;
$modular-scale-6: 15.625em;