/*
*
* COLORS
* 
*/

$k80-red: #DB0000;
$k80-text: #333333;
$k80-dark-red: #6F0000;

/*
*
* BREAKPOINTS
* 
*/
$tablet-portrait: "(min-width: 760px)";
$tablet-landscape: "(min-width: 1000px)";
$desktop-width: "(min-width: 1200px)";
$extra-wide: "(min-width: 2000px)";

/*
*
* FONTS
* 
*/

$heading-stack: 'Oswald', sans-serif;
$body-stack: "Merriweather","Georgia",serif;

$base-font-size: 14px;
$modular-scale-1: 1.792em;
$modular-scale-2: 2.5em;
$modular-scale-3: 4.48em;
$modular-scale-4: 6.25em;
$modular-scale-5: 11.2em;
$modular-scale-6: 15.625em;