{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb",
  ]
}