.article-card {
  padding: 2rem 0;
  box-shadow: 0px 2px 0px 0px rgba(219,0,0,1);

  &__category {
    padding-bottom: 1rem;
    color: $k80-red;
    margin-left: 1rem;
  }

  &__title {
    padding-bottom: 1rem;
  }

  &__excerpt {
    margin-left: 1rem;
    padding-bottom: 1rem;

    @media #{$desktop-width} {
      font-size: 1.25rem;
      line-height: 1.5em;
    }
  }

  &__pubLink {
    margin-left: 1rem;
    color: $k80-red;
  }

  &__excerpt-with-img {
    padding-bottom: 1rem;

    .article-card__excerpt {
      padding: 1rem 0;
    }
  }

  &--book-review {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media #{$tablet-portrait} {
      flex-direction: row;
      margin: 5px 10px 5px 0;
    }

    .article-card__image {
      width: 10rem;

      @media #{$tablet-portrait} {
        margin: 5px 10px 5px 0;
      }
    }
  }

  &--top-image {
    .article-card__image-wrapper {
      height: 100px;
      overflow: hidden;
    }
  
    .article-card__image {
      width: 100%;
      margin-top: -50%;
    }
  }

  &:hover {
    box-shadow: 0px 4px 0px 0px rgba(219,0,0,1);
    font-weight: normal;

    .article-card__title {
      color: $k80-red;
    }
  }
}

.featured-article {
  .article-card__title {
    font-size: 2rem;
    margin-bottom: 1rem;

    @media #{$desktop-width} {
      font-size: 3rem;
      padding-bottom: 0.5rem;
      margin-bottom: 2rem;
    }
  }
}