.developer {
  &__links {
    text-align: center;
    margin: 2rem 0;
    padding: 2rem 0;
    border-top: 2px solid $k80-red;
    border-bottom: 2px solid $k80-red;

    a {
      &:hover {
        fill: $k80-red;
        border-bottom: none;
      }

      &:active {
        border-bottom: none;
      }
    }
  }

  &__link {
    .svg-icon {
      width: 2rem;
      margin: 0 2rem;

      @media #{$tablet-landscape} {
        width: 3rem;
      }
    }
  }

  .experience__cards {
    margin-top: 1rem;

    @media #{$tablet-portrait} {
      display: grid;
      grid-template-columns: 50% 50%;
    }
  }
}