.experience-card {
  width: 90%;
  margin: 1rem auto;

  &__title {
    margin-bottom: 0.3rem;
  }

  &__dates {
    margin: 0.5rem 0;
  }

  &__summary {
    margin: 1rem 0;
    p {
      margin-bottom: 0.5rem;
    }
  }
}