.header {

  .sticky-wrapper {
    position: fixed;
  }

  .name:hover {
    border-bottom: none;
  }

  .first-name {
    font-size: 170px;
    font-weight: normal;
    display: block;
    color: white;
  }

  .last-name {
    font-size: 90px;
    font-weight: normal;
    display: inline-block;
    color: white;
  }

  .nav {
    font-family: $heading-stack;
    list-style: none;
    font-size: 50px;

    li {
      text-align: center;
      margin: 1em 25px;

      a {
        color: white;
      }

      &:hover {
        a {
          font-weight: bold;
          border-bottom: white solid 2px;
        }
      }

      .current {
        font-weight: bold;
        border-bottom: white solid 2px;
      }
    }
  }
}